/* Normal Formatting */
* { 
    margin: 0;
    padding: 0; 
}


body{
    font-family: "Avenir Next" !important;
    color: white;
    background-image: url("./images/background.png");
    background-attachment: fixed;
    background-size: cover;
    margin:0;
    padding: 0;

}

section{ 
    margin: 0;
    padding: 0;
}


/* Create full slides for page */

.slide{
    height: 90vh;
    padding: 0;
    margin: 0;
}

/* Navbar styling */
#navbar{
    display: flex;
    font-size: 25px;
    align-items: left;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
 
}

#navbar a{
    text-decoration: none;
    color: white;
}


#navbar a:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* Main text styling */

#title-page{
    height: 100vh;
}

#title-page h1 {
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 80px;
}

#title-page h2 {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 35px;
}

#title-text{
    align-items: center;
}

/* About section */
#about{
    width: 100%;
    background-image: none;
    background-color: beige;
    color: black;
    padding: 0;
    margin: 0;
    height: 100%;
}

#about h1{
    text-align: center;
    font-size: 50px;
}

#about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#about-image img{
    height: 500px;
    border-radius: 25px;
}

#about-text{
    margin-left: 100px;
    margin-right: 100px;
    width: 50%;
}

#about-text p {
    padding: 1em;
}

/* Projects Section */

#projects{
    padding-bottom: 100px;
    margin: 0;
    width: 100%;
    background-image: url("./images/background-2.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 100%;
}

#projects h1{
    padding-top: 35px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 50px;
}

.projects-all{
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    margin: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 15px;
    cursor: pointer;
}

.project:hover{
    background-color: gray;
}

.project-dropdown p{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.project-dropdown a {
    padding-bottom: 30px;
    padding-left: 50px;
    color: gray;
}

.project-dropdown a:hover{
    text-decoration: none;
    color: white;
}

.project-dropdown i{
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
}

.project-dropdown i:hover{
    color: gray;
}

.project-dropdown{
    transition: 0.5s;
    background-color: #2c353a;;
    display: block;
    height: 0;
    overflow: hidden;
}

/* Experience section */

#experience{
    width: 100%;
    background-image: none;
    background-color: beige;
    color: black;
    padding: 0;
    margin: 0;
}

#experience h1{
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
}



/* Footer Styling */
#footer{
    position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: 1em;
    font-size: 11px;
}


/* Responsive-Design */
@media (max-width: 800px) {
    /* more CSS for that specific screen size*/
    #side-navbar{
        font-size: 14px;
    }

    #carousel {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #carousel-text{
        margin-bottom: 50px;
        justify-content: center;
        width: 300px;
        height: 150px;
    
    }

    #carousel-text h1 {
        font-size: 28px;
    }
    #carousel-text h2 {
        font-size: 15px;
    }

    #sign-up-form{
        width: 300px;
        height: 150px;
        font-size: 15px;
    }

    #footer{
        margin-top: 350px;
        font-size: 25px;
        position: relative;
        bottom: 0;
    }


   }