/* Add Font and Background*/
body{
    font-family: "Avenir Next" !important;
    background-image: url("./images/background.png");
    color: white;
}

/* Navbar styling */
#navbar{
    display: flex;
    font-size: 25px;
    align-items: left;
    justify-content: space-evenly;


}
/* Main text styling */
#title-page h1 {
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 80px;
}

#title-page h2 {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 35px;
}

#title-text{
    align-items: center;
}

/* Footer Styling */
#footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: left;
    margin: 1em;
    font-size: 11px;
}


/* Responsive-Design */
@media (max-width: 800px) {
    /* more CSS for that specific screen size*/
    #side-navbar{
        font-size: 14px;
    }

    #carousel {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #carousel-text{
        margin-bottom: 50px;
        justify-content: center;
        width: 300px;
        height: 150px;
    
    }

    #carousel-text h1 {
        font-size: 28px;
    }
    #carousel-text h2 {
        font-size: 15px;
    }

    #sign-up-form{
        width: 300px;
        height: 150px;
        font-size: 15px;
    }

    #footer{
        margin-top: 350px;
        font-size: 10px;
        position: relative;
        bottom: 0;
    }


   }